body {
    display:flex;
    justify-content:center;
    background-color: #F4E9DD;
    margin:3;
    padding:0;
  }
  
  div {
    border: 2px solid red;
  }
  
  div#wrapper {
    width:800px;
    height:1000px;
    display:inline-block;
  /*   overflow:hidden */
  }
  div#logoheader{
    width:800px;
    height:200px;
    text-align:center;
    background-image: url(Assets/Images/LOGO.png);
    
  }
  div#nav{
    height:733.5px;
    width:200px;
    float:left;
  }
  div#header{
    display: grid;
    grid-template-rows: (3, 1fr);
    float:right;
    height:200px;
    width:592px;
  }
  
  div#main{
    float:right;
    height:530px;
    width:592px;
  }
  div#footer {
    width:800px;
    height:57px;
    float:left;
  }